/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

/* Editor Overrides */
.prism-editor textarea {
  outline: none !important;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace !important;
  font-size: 14px;
}

/* Remove background for site preview pages */
body:has(iframe[title="Site Preview"]) {
  background-color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}